DATABASE_URL="postgresql://postgres.vxtolppfdasxrmmqpvoh:Caribbeancrush%4012@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://vxtolppfdasxrmmqpvoh.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_tkwZhDMbDzXPqAQsLbvIEg_jy2HQtiy"

COMPANY_EMAIL_DOMAIN="ofwafrica.org"
APP_BASE_URL="http://localhost:3000"

SMTP_HOST="smtp.resend.com"
SMTP_PORT="465"
SMTP_USER="resend"
SMTP_PASS="re_NNcEpejv_sTMjc6DED6UxLHogPz6ivasC"
SMTP_FROM="OFWA Ops <noreply@ofwafrica.org>"

BRIAN_EMAIL="adegbang@yahoo.com"
JAEL_EMAIL="domegilalfred@gmail.com"
DICKSON_EMAIL="domegilalfred@gmail.com"
EDMOND_EMAIL="equansah@ofwafrica.org"
ALFRED_EMAIL="adegbanga@ofwafrica.org"
STAFF_EMAILS="adegbanga@ofwafrica.org"
DEBUG_PERF="true"

ALERT_CRON_SECRET="S8WNlQwashJHcAeI9wFb8kmXvY3b/G4cslpuncPHvos="
